
.wrapper {
    width: 100%;
    height: 11rem;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#head {
    width: 100%;
    height: 1.14rem;
    position: relative;
    z-index: 66;
}
#foot {
    width: 100%;
    height: 3.52rem;
    position: relative;
    left: 0%;
    bottom: 0%;
}
.imgList {
    width: 100%;
    height: 11rem;
    z-index: 10;
    background-color: #009d81;
    /* overflow: hidden; */
}
.imgList img{
    width: 100%;
    height: auto;
}



.infoList {
    position: absolute;
    left: 0.1rem;
    bottom: 0.1rem;
    z-index: 30;
}

.infoList li {
    display: none;
}

.infoList .infoOn {
    display: inline;
    color: white;
}

.indexList {
    position: absolute;
    right: 5%;
    bottom: 20%;
    z-index: 30;
}

.indexList li {
    float: left;
    margin-right: 0.6rem;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.6);
}
.indexList li:last-child{
    margin-right: 0px;
}

.indexList .indexOn {
    color: white;
}
.center {
    width: 100%;
    /* height: 500px; */
    /* background-color: #fff; */
    /* padding-bottom: 5%; */
    background: #f2f9fb;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 99;
    transition: top 0.06s linear;
    overflow: hidden;
}
.center .box {
    width: 100%;
    padding: 0.7rem 0.46rem;
    padding-bottom: 1.23rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.center .box .all_title{
    width: 100%;
    height: 4.09rem;
    padding: 0.8rem 0rem;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.26rem;
}
.center .box .all_title span{
    font-size: 1.5rem;
    color: #333;
    padding-left: 0.83rem;
}
.center .box .three_title span{
    font-size: 0.7rem;
    padding-left: 0.38rem;
}
/* .center .box .three_title img{
    width: 60%;
} */
.center .box .all_title:hover{
    box-shadow: 4px 4px 20px  rgba(0, 0, 0, 0.3);
}
.center .box .all_title:hover span{
    color: #b22419;
}
.center .box .all_title .fsz34{
    color: #009d81;
    font-size: 0.38rem;
    margin-bottom: 0.2rem;
}
.center .box .all_title p{
    color: #333;
    /* margin-bottom: 20%; */
    font-size: 0.26rem
}
.center .box .all_title .text_box{
    flex: 1;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.center_title {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    z-index: 31;
    text-align: center;
    color: #fff;
    transition: all 0.6s linear;
}
.center_title {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    z-index: 31;
    text-align: center;
    color: #fff;
    transition: all 0.6s linear;
}
.fsz56 {
    font-size: 0.86rem !important;
    line-height: 0.90rem;
    margin-bottom: 0.46rem !important;
    margin-top: -3% !important;
}
.center_title p {
    font-size: 0.18rem;
    line-height: 0.3rem;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 1s linear,opacity 1s linear;
}
.center_title img {
    width: 0.56rem;
    margin: 0 auto;
    margin-bottom: 0.46rem;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 1s linear,opacity 1s linear;
}
.center_title img:first-child {
    width: 6.12rem;
    margin-bottom: 0px;
}
.center_title p:first-child {
    font-size: 0.56rem;
    margin-bottom: 0.46rem;
}
.center_title p:last-child {
    font-size: 0.3rem;
}
.center_title .btn{
    margin-top: 0.9rem;
    margin-left: 0.3rem;
    width: 2.06rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    background-color: #d6d6d6;
    color: #333;
    border-radius: 0.6rem;
    display: inline-block;
    cursor: pointer;
}
.center_title .check{
    background-color: #de7a36;
    color: #fff;
}
.center_title .btn:first-child{
    margin-left: 0px;
}
.qie {
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .time{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .bigtitle{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .title{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie img{
    transform: translateX(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}