
.wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#head {
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 66;
}
#foot {
    width: 100%;
    height: 100px;
}
.imgList {
    width: 100%;
    z-index: 10;
    /* overflow: hidden; */
}
.imgList img{
    width: 100%;
    height: auto;
}

.bg {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 40px;
    z-index: 20;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background: black;
}

.infoList {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 30;
}

.infoList li {
    display: none;
}

.infoList .infoOn {
    display: inline;
    color: white;
}

.indexList {
    position: absolute;
    right: 5%;
    bottom: 20%;
    z-index: 30;
}

.indexList li {
    float: left;
    margin-right: 60px;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.6);
}
.indexList li:last-child{
    margin-right: 0px;
}

.indexList .indexOn {
    color: white;
}
.center {
    width: 100%;
    /* height: 500px; */
    position: relative;
    /* padding-top: 30%; */
    background: -webkit-linear-gradient(#fff, #f3f3f3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fff, #f3f3f3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fff, #f3f3f3); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fff, #f3f3f3);
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 99;
    transition: top 0.06s linear;
}
.center .center_title {
    color: #000;
    top: 180px;
}
.center .center_box {
    width: 80%;
    margin: 0 auto;
    margin-top: 26%;
}
.center .first {
    width: 100%;
    /* height: 600px; */
    padding-top: 5px;
    overflow: hidden;
    background: url('../images/关于和鲜--和鲜大事迹/和鲜-关于和鲜-和鲜大事件_03.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    position: relative;
}
.center .first img {
    width: 40%;
    height: auto;
    display: inline-block;
    transform: translateX(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center .first .text {
    width: 50%;
    display: inline-block;
    padding-left: 7%;
    padding-top: 5%;
}
.center .first .text p{
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    font-family: 'Reeji Cloud YuanZhun GBK' !important;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center .first .text em{
    position: absolute;
    right: 2%;
    top: 4%;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Reeji Cloud YuanZhun GBK' !important;
    transform: rotate(40deg) translate(10%,-40%);
}
.center .first .text p:first-child{
    font-size: 46px;
    line-height: 56px;
}
.center .Second {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
    margin-bottom: 10%;
}
.center .Second .hua{
    margin: 0 auto;
    text-align: center;
}
.center .Second .xian {
    width: 1px;
    height: 90%;
    background-color: #de7a36;
    position: absolute;
    left: 50.5%;
    /* top: 5%; */
}
.center .Second .more {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #de7a36;
    color: #fff;
    text-align: center;
    line-height: 140px;
    font-size: 24px;
    font-family: 'Reeji Cloud YuanZhun GBK' !important;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-45%);
    cursor: pointer;
}
.center .Second .second_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
    /* margin-top: -10%; */
}
.center .Second .second_box .yuan {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-10%);  
}
.center .Second .second_box .yuan div {
    width: 15px;
    height: 15px;
    background-color: #de7a36;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.center .Second .second_box img {
    height: 0px;
    transition: all 1s linear;
}
.center .Second .second_box .time {
    font-size: 48px;
    color: #de7a36;
    font-family: 'Reeji Cloud YuanZhun GBK' !important;
    margin-bottom: 30px;
}
.center .Second .second_box .title {
    font-size: 30px;
    color: #009d81;
    font-family: 'Reeji Cloud YuanZhun GBK' !important;
    margin-bottom: 30px;
}
.center .Second .second_box .text {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Reeji Cloud YuanZhun GBK' !important;
    height: 0px;
    overflow: hidden;
    transition: all 1s linear;
}
.center .Second .second_box .left_box{
    width: 40%;
}
.center .Second .second_box .right_box{
    width: 40%;
}
.center_nav {
    display: none;
    position: fixed;
    left: 3%;
    top: 100px;
    z-index: 66;
}
.center_nav a{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #009d81;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}
.center_nav a:hover{
    background-color: #de7a36;
}
.center_nav a:hover span{
    display: block;
}
.center_nav .check{
    background-color: #de7a36;
}
.center_nav .check span{
    display: block;
}
.center_nav a span{
    display: none;
    white-space: nowrap;
    background-color: #de7a36;
    color: #fff;
    padding: 10px 28px;
    border-radius: 28px;
    position: absolute;
    left: 300%;
    top: 50%;
    transform: translateY(-50%);
}
.center_nav a em{
    width: 20px;
    height: 20px;
    position: absolute;    
    left: -12px;
    top: 50%;
    background-color: #de7a36;
    transform: rotate(45deg) translateY(-70%);
}
.center_title {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translateX(-50%);
    z-index: 31;
    text-align: center;
    color: #fff;
    transition: all 0.6s linear;
}
.center_title p {
    font-size: 17px;
    line-height: 30px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
    font-family: 'Reeji Cloud YuanZhun GBK' !important;
}
.center_title img {
    margin-bottom: 36px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center_title p:first-child {
    font-size: 56px;
    margin-bottom: 46px;
}
.center_title .btn{
    margin-top: 90px;
    margin-left: 30px;
    width: 206px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #d6d6d6;
    color: #333;
    border-radius: 60px;
    display: inline-block;
    cursor: pointer;
}
.center_title .check{
    background-color: #de7a36;
    color: #fff;
}
.center_title .btn:first-child{
    margin-left: 0px;
}
.qie {
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .time{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .bigtitle{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .title{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.first .qie {
    transform: translateX(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
@media screen and (max-width : 1366px){
    .nav div {
        margin-right: 60px;
    }
    .center .new .script .time {
        font-size: 12px;
    }
    .center .new .script .bigtitle {
        font-size: 30px;
        line-height: 38px;
    }
    .center .new .script .title {
        margin-top: 24px;
        font-size: 14px;
        line-height: 24px;
    }
    .center .list .list_box .time{
        font-size: 12px;
    }
    .center .list .list_box .title {
        font-size: 18px;
        line-height: 24px;
    }
    .none {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
    }
    .search .list .one {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .search .list {
        font-size: 14px;
        line-height: 26px;
    }
    .center .first .text p{
        font-size: 12px;
        line-height: 28px;
        margin-bottom: 20px !important;
    }
    .center .first .text p:first-child{
        font-size: 26px;
        line-height: 46px;
    }
    .center .Second .second_box .yuan {
        transform: translateX(-20%);  
    }
}
@media screen and (max-width : 1600px){
    .search .list .one {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .search .list {
        font-size: 14px;
        line-height: 26px;
    }
    .center .first .text p{
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .center .first .text p:first-child{
        font-size: 36px;
        line-height: 46px;
    }
}