
.wrapper {
    position: relative;
}

.imgList {
    width: 100%;
    z-index: 10;
    /* overflow: hidden; */
}
.imgList img{
    width: 100%;
    height: auto;
}

.bg {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 40px;
    z-index: 20;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background: black;
}

.infoList {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 30;
}

.infoList li {
    display: none;
}

.infoList .infoOn {
    display: inline;
    color: white;
}

.indexList {
    position: absolute;
    right: 5%;
    bottom: 20%;
    z-index: 30;
}

.indexList li {
    float: left;
    margin-right: 60px;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.6);
}
.indexList li:last-child{
    margin-right: 0px;
}

.indexList .indexOn {
    color: white;
}
.logo {
    width: 124px;
    height: 75px;
    position: absolute;
    left: 60px;
    top: 40px;
    z-index: 30;
}
.logo img{
    width: 100%;
    height: 100%;
}
.nav {
    position: absolute;
    right: 5%;
    top: 60px;
    z-index: 30;
}
.nav div {
    float: left;
    margin-right: 90px;
    cursor: pointer;
    color:rgba(255, 255, 255, 1);
}
.nav div:last-child {
    margin-right: 0px;
}
.search {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 32;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.search_img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 32;
}
.search .ipt{
    width: 50%;
    height: 55px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 55px;
    z-index: 32;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.search .ipt input{
    flex: 1;
    height: 55px;
    border: none;
    outline: none;
    text-indent: 30px;
}
.search .icon-sousuo {
    color: #0f9c81 !important;
    margin-right: 30px;
    cursor: pointer;
}
.search .title {
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: 32;
}
.search .title span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dd7a36;
    display: inline-block;
    margin-right: 5px;
}
.search .search_list {
    width: 100%;
    position: absolute;
    top: 10%;
    z-index: 32;
    display: flex;
    justify-content: center;
}
.search .list {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    margin-left: 100px;
    font-size: 18px;
    line-height: 32px;
}
.search .list:first-child {
    margin-left: 0px;
}
.search .list div {
    cursor: pointer;
}
.search .list .one{
    font-size: 28px;
    margin-bottom: 30px;
}
.search .list .three{
    border-left: 1px solid #dd7a36;
    text-indent: 30px;
}
.none {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #6fc4b3;
    color: #fff;
    position: absolute;
    right: 17%;
    top: 5%;
    z-index: 32;
    font-size: 28px;
    cursor: pointer;
}
.center {
    width: 100%;
    /* height: 500px; */
    /* background-color: #fff; */
    padding-bottom: 8%;
    background: -webkit-linear-gradient(#fff, #f3f3f3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fff, #f3f3f3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fff, #f3f3f3); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fff, #f3f3f3);
}
.center .new {
    width: 80%;
    margin: 5% auto;
    position: relative;
    overflow: hidden;
}
.center .new img{
    display: inline-block;
    width: 100%;
    /* height: 705px; */
    height: auto;
    background-color: #dd7a36;
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s linear;
    }
.center .new .script {
    width: 60%;
    height: 36%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #fff;
    padding: 2% 0px 0px 6%;
}
.center .new .script .time {
    font-size: 16px;
    color: #e7a27b;
    margin-bottom: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center .new .script .bigtitle {
    font-size: 34px;
    line-height: 46px;
    color: #009d81;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center .new .script .title {
    margin-top: 30px;
    font-size: 18px;
    line-height: 28px;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center_title {
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translateX(-50%);
    z-index: 31;
    text-align: center;
    color: #fff;
}
.center_title p {
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center_title img {
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center_title p:first-child {
    font-size: 56px;
    margin-bottom: 5%;
}
.center_title p:last-child {
    font-size: 17px;
    margin-top: 4%;
}
.center .list {
    width: 80%;
    margin: 5% auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.center .list .list_box{
    /* width: 440px; */
    width: 30%;
    height: 420px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
}
.center .list .list_box img{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s linear;
}
.center .list .list_box .time{
    font-size: 16px;
    color: #e7a27b;
    margin-bottom: 30px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center .list .list_box .title {
    font-size: 22px;
    line-height: 28px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center .list .big_list_box {
    width: 65%;
    height: 420px;
}
.center .list .big_list_box img{
    height: 99%;
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s linear;
    margin-bottom: 0px;
}
.center .list .big_list_box .time{
    position: absolute;
    left: 5%;
    bottom: 14%;
    color: #fff;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center .list .big_list_box .title{
    position: absolute;
    left: 5%;
    bottom: 8%;
    color: #fff;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.more {
    width: 190px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #009e8b;
    color: #fff;
    font-size: 18px;
    border-radius: 60px;
    margin: 0 auto;
    cursor: pointer;
}
.foot {
    width: 100%;
    height: 100px;
    line-height: 100px;
}
.foot .ite{
    float: left;
    font-size: 16px;
    transform: scale(.8);
    font-family: AVANTGA2;
    color: #333;
}
.bottom_nav  {
    margin-right: 2%;
}
.bottom_nav li {
    float: right;
    margin-right: 30px;
    cursor: pointer;
    /* transform: scale(.8); */
    font-size: 16px;
    color:#333;
    font-family: AVANTGA2;
}
.bottom_nav li:last-child{
    margin-right: 0px;
}
.bottom_nav li span{
    margin-right: 20px;
}
.bottom_nav li span:last-child{
    margin-right: 0px;
}
.qie {
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .time{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .bigtitle{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .title{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie img{
    transform: translateX(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
@media screen and (max-width : 1366px){
    .nav div {
        margin-right: 60px;
    }
    .center .new .script .time {
        font-size: 12px;
    }
    .center .new .script .bigtitle {
        font-size: 30px;
        line-height: 38px;
    }
    .center .new .script .title {
        margin-top: 24px;
        font-size: 14px;
        line-height: 24px;
    }
    .center .list .list_box .time{
        font-size: 12px;
    }
    .center .list .list_box .title {
        font-size: 18px;
        line-height: 24px;
    }
    .none {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
    }
    .search .list .one {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .search .list {
        font-size: 14px;
        line-height: 26px;
    }
}
@media screen and (max-width : 1600px){
    .search .list .one {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .search .list {
        font-size: 14px;
        line-height: 26px;
    }
}