.head {
    width: 100%;
    height: 100%;
    position: relative;
}
.logo {
    width: 1.24rem;
    height: 0.75rem;
    position: absolute;
    left: 0.6rem;
    top: 0.4rem;
    z-index: 30;
}
.logo img{
    width: 100%;
    height: 100%;
}
.nav {
    /* width: 100%; */
    position: absolute;
    right: 0.6rem;
    top: 0.7rem;
    z-index: 30;
}
.nav div {
    float: left;
    margin-right: 0.95rem;
    font-size: 0.2rem;
    cursor: pointer;
    color:rgba(255, 255, 255, 1);
}
.nav div .iconfont {
    font-size: 0.2rem !important;
}
.nav div:nth-child(7) {
    margin-right: 0.63rem;
}
.nav div:nth-child(8) {
    margin-right: 0.63rem;
}
.nav div:last-child {
    margin-right: 0px;
}
.big_box {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 60;
    left: 0%;
    top: 0%;
    /* transform: scale(0.1); */
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.search {
    width: 100%;
    height: 100%;
    position: fixed;
    /* left: 50%; */
    /* top: -50%; */
    top: -100%;
    z-index: 60;
    display: block;
    /* opacity: 0; */
    /* transform: scale(0.1); */
    transition: top 0.5s linear;
}
.search_img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 32;
}
.search .search_box {
    display: none;
}
.search .ipt{
    width: 50%;
    height: 0.55rem;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 0.55rem;
    z-index: 32;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.search .ipt input{
    flex: 1;
    height: 0.55rem;
    border: none;
    outline: none;
    text-indent: 0.3rem;
    font-size: 0.16rem;
}
.search .icon-sousuo {
    color: #0f9c81 !important;
    margin-right: 0.3rem;
    cursor: pointer;
}
.search .title {
    font-size: 0.14rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: 32;
}
.search .title span {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background-color: #dd7a36;
    display: inline-block;
    margin-right: 5px;
}
.search .ipt_text {
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 32;
}
.search .ipt_text ul {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.search .ipt_text li {
    display: inline-block;
    color: #fff;
    margin-left: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.18rem;
    cursor: pointer;
}
.search .ipt_text ul li:first-child {
    margin-left: 0px;
}
.search .search_list {
    display: none;
    width: 100%;
    position: absolute;
    top: 10%;
    z-index: 32;
    display: none;
    justify-content: center;
}
.search .list {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    margin-left: 1rem;
    font-size: 0.18rem;
    line-height: 0.32rem;
}
.search .list:first-child {
    margin-left: 0px;
}
.search .list div {
    cursor: pointer;
}
.search .list .one{
    font-size: 0.24rem;
    margin-bottom: 0.3rem;
}
.search .list .two {
    font-size: 0.16rem;
}
.search .list .three{
    font-size: 0.14rem;
    border-left: 1px solid #dd7a36;
    text-indent: 0.24rem;
}
.none {
    width: 0.48rem;
    height: 0.48rem;
    text-align: center;
    line-height: 0.48rem;
    border-radius: 50%;
    background-color: #6fc4b3;
    color: #fff;
    position: absolute;
    right: 17%;
    top: 5%;
    z-index: 32;
    font-size: 0.16rem !important;
    cursor: pointer;
}