
body {
    background-color: #f5f8f9;
}
#head {
    width: 100%;
    height: 2rem;
    position: absolute;
    z-index: 66;
}
#foot {
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0%;
    bottom: 0%;
}
.wrapper {
    /* width: 1200px; */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.imgList {
    width: 100%;
    z-index: 10;
    /* overflow: hidden; */
}
.imgList img{
    width: 100%;
    height: auto;
}


.infoList {
    position: absolute;
    left: 0.1rem;
    bottom: 0.1rem;
    z-index: 30;
}

.infoList li {
    display: none;
}

.infoList .infoOn {
    display: inline;
    color: white;
}

.indexList {
    position: absolute;
    right: 5%;
    bottom: 20%;
    z-index: 30;
}

.indexList li {
    float: left;
    margin-right: 0.6rem;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.6);
}
.indexList li:last-child{
    margin-right: 0px;
}

.indexList .indexOn {
    color: white;
}

.center_title {
    position: absolute;
    left: 15%;
    top: 50%;
}
.center_title p:first-child {
    font-size: 0.16rem;
    line-height: 0.22rem;
    color: #fff;
    margin-bottom: 0.25rem;
}
.center_title p:first-child span{
    font-size: 0.22rem !important;
    margin-left: 0.25rem;
    margin-right: 0.02rem;
    vertical-align: middle;
}
.center_title p:last-child {
    font-size: 0.36rem;
    color: #fff;
}
.center {
    width: 100%;
    position: relative;
    padding-bottom: 1.14rem;
    padding-top: 4.6rem;
    /* padding-top: 4.6rem; */
    /* overflow: hidden; */
}
.center .center_box{
    width: 16.8rem;
    padding: 1.14rem 1.4rem;
    margin: 0% auto;
    margin-top: -5%;
    margin-bottom: 1.14rem;
    background-color: #fff;
    position: relative;
    z-index: 50;
    display: flex;
}
.center .left {
    width: 9.30rem;
    padding-right: 0.64rem;
    border-right: 1px solid #e7e7e7;
    position: relative;
}
.center .left img{
    width: 100%;
}
.center .left p{
    font-size: 0.16rem;
    line-height: 0.3rem;
    margin-bottom: 0.46rem;
    color: #333;
}
.center .left .text{
    margin-top: 0.84rem;
}
.center .left .xian{
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
    margin-bottom: 0.4rem;
}
.center .left ul{
    margin-top: 0.4rem;
}
.center .left li{
    width: 70%;
    font-size: 0.16rem;
    line-height: 0.36rem;
    color: #333;
    cursor: pointer;
    white-space: nowrap;
    /* 文本不换行 */
    text-overflow:ellipsis;
    /* 超出显示为省略号 */
    overflow: hidden;
    /* 超出部分隐藏 */
}
.center .left li:hover{
    color: #0f9c81;
}
.center .left li span{
    margin-right: 0.15rem;
}
.center .left .out {
    position: absolute;
    font-size: 0.1rem;
    right: 0.64rem;
    bottom: 0.1rem;
    width: 1.54rem;
    height: 0.57rem;
    line-height: 0.57rem;
    text-align: center;
    background-color: #b4b4b4;
    color: #fff;
    cursor: pointer;
}
.center .right {
    flex: 1;
    margin-top: -0.5rem;
    padding-left: 0.7rem;
    float: right;
}
.center .right img{
    width: 100%;
}
.center .right .title{
    font-size: 0.32rem;
    margin-bottom: 0.2rem;
    color: #333;
}
.center .right p{
    font-size: 0.24rem;
    margin-top: 0.19rem;
    margin-bottom: 0.38rem;
    color: #333;
}
.center .right .xian{
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
    margin-bottom: 0.4rem;
}
.center .right ul{
    margin-bottom: 0.6rem;
}
.center .right li{
    font-size: 0.16rem;
    line-height: 0.36rem;
    color: #333;
}
.center .right li span{
    margin-right: 0.15rem;
}
.center .right li:hover{
    color: #0f9c81;
    cursor: pointer;
}
.qie {
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
@media screen and (max-width : 1200px){
    .imgList {
        width: 1200px;
    }
    .imgList img {
        width: 1200px;
    }
    .wrapper {
        width: 1200px;
    }
    .center {
        width: 1200px;
        padding-top: 283px;
        /* overflow: hidden; */
    }
    #head {
        width: 1200px;
        height: 100px;
    }
    #foot {
        width: 1200px;
        height: 66px;
        /* height: 100px;   */
    }
    .center .center_box {
        width: 1034px;
        padding: 72px 86px;
        overflow: hidden;
    }
    .center .left {
        width: 532px;
        padding-right: 40px;
    }
    .center .left p {
        margin-bottom: 28px;
        font-size: 13px;
        line-height: 20px;
    }
    .center .left .text {
            margin-top: 50px;
    }
    .center .left li {
        font-size: 14px;
        line-height: 24px;
    }
    .center .left .out {
        font-size: 12px;
        width: 94px;
        height: 35px;
        line-height: 35px;
    }
    .center .right .title {
        font-size: 28px;
        margin-bottom: 12px;
    }
    .center .right p {
        margin-top: 11px;
        margin-bottom: 23px;
        font-size: 18px;
    }
    .center .right li {
        font-size: 13px;
        line-height: 28px;
    }
    .center_title p:first-child {
        font-size: 14px;
    }
    .center_title p:last-child {
        font-size: 24px;
    }
}