
.wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#head {
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 66;
}
#foot {
    width: 100%;
    height: 100px;
}
.imgList {
    width: 100%;
    z-index: 10;
    /* overflow: hidden; */
}
.imgList img{
    width: 100%;
    height: auto;
}

.bg {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 40px;
    z-index: 20;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background: black;
}

.infoList {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 30;
}

.infoList li {
    display: none;
}

.infoList .infoOn {
    display: inline;
    color: white;
}

.indexList {
    position: absolute;
    right: 5%;
    bottom: 20%;
    z-index: 30;
}

.indexList li {
    float: left;
    margin-right: 60px;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.6);
}
.indexList li:last-child{
    margin-right: 0px;
}

.indexList .indexOn {
    color: white;
}
.center {
    width: 100%;
    /* height: 500px; */
    /* background-color: #fff; */
    background: -webkit-linear-gradient(#fff, #f3f3f3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fff, #f3f3f3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fff, #f3f3f3); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fff, #f3f3f3);
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 99;
    transition: top 0.06s linear;
}
.center .img {
    position: relative;
}
.center img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 26%;
}
.center .center_title {
    top: 10%;
    color: #000;
}
.center .center_title img {
    width: auto;
    margin-top: 0px;
}
.center .center_title p:last-child {
    color: #009d81;
    font-size: 20px;
}
.center .text {
    position: absolute;
    left: 13%;
    top: 36%;
    color: #fff;
}
.center .text p{
    line-height: 24px;
    font-family: 'Reeji Cloud YuanZhun GBK' !important;
}
.center .text .bottom {
    margin-bottom: 30px;
}
.center .sel{
    width: 80%;
    height: 60px;
    margin: 40px auto;
    display: flex;
    background-color: orange;
}
.center .sel select {
    flex: 1;
    text-indent: 20px;
    outline: none;
}
.center .sel input {
    flex: 1;
    text-indent: 20px;
    outline: none;
}
.center .sel .btn {
    width: 180px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    background-color: #009d81;
    color: #fff;
}
.center .zw {
    width: 80%;
    margin: 40px auto;
    display: flex;
    align-items: center;
}
.center .zw p {
    width: 50%;
}
.center .zw p:first-child{
    font-size: 34px;
}
.center .zw p:last-child{
    text-align: right
}
.center .zw p:last-child span{
    color: #de7a36;
}
.center .list {
    width: 80%;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #fff;
    margin-bottom: 10%;
}
.center .list .list_box{
    width: 100%;
    /* height: 60px; */
    /* line-height: 60px; */
    padding: 20px 0px;
    /* border-bottom: 1px solid #f3f3f3; */
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}
.center .list .first {
    border-bottom: 1px solid #f3f3f3;
}
.center .list .list_box div {
    width: 18%;
    position: relative;
    padding-bottom: 20px;
}
.center .list .list_box .one {
    width: 10%;
}
.center .list .list_box .six{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center .list .list_box em {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #333;
    border-color: transparent #333 #333   transparent;
    transform: rotate(45deg);
}
.center .list .list_box .box {
    width: 100%;
    height: 0px;
    display: flex;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    justify-content: space-between;
    padding: 0px;
    overflow: hidden;
    transition: all 1s linear;
}
.center .list .list_box .box div{
    width: 45%;
}
.center .list .list_box .box p {
    line-height: 24px;
    margin-bottom: 10px;
}
.center .list .list_box .box .h1{
    font-size: 34px;
    margin-bottom: 30px;
    margin-top: 40px;
    color: #de7a36;
}
.center .list .list_box .box .emil{
    margin-bottom: 30px;
    margin-top: 40px;
    color: #009d81;
}
.center .list .ym {
    width: 100%;
    display: flex;
    justify-content: center;
}
.center .list .ym .left_span{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    cursor: pointer;
}
.center .list .ym .left_span em {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #999999;
    transform: rotate(45deg) translate(10%,-20%);
    border-color: transparent transparent #999 #999;
}
.center .list .ym .right_span{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.center .list .ym .right_span em {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #999999;
    transform: rotate(225deg) translate(20%,-20%);
    border-color: transparent transparent #999 #999;
}
.center .list .ym .number_span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    cursor: pointer;
}
.center .list .ym span {
    margin-left: 20px;
}
.center .list .ym .check {
    background-color: #009d81;
    color: #fff;
}
.center_title {
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translateX(-50%);
    z-index: 31;
    text-align: center;
    color: #fff;
    transition: all 0.6s linear;
}
.center_title p {
    font-size: 17px;
    line-height: 30px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
    font-family: 'Reeji Cloud YuanZhun GBK' !important;
}
.center_title img {
    margin-bottom: 36px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center_title p:first-child {
    font-size: 56px;
    margin-bottom: 5%;
}
.center_title p:last-child {
    font-size: 17px;
    margin-top: 4%;
}
.center_title .btn{
    margin-top: 90px;
    margin-left: 30px;
    width: 206px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #d6d6d6;
    color: #333;
    border-radius: 60px;
    display: inline-block;
    cursor: pointer;
}
.center_title .check{
    background-color: #de7a36;
    color: #fff;
}
.center_title .btn:first-child{
    margin-left: 0px;
}
.qie {
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .time{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .bigtitle{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .title{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie img{
    transform: translateX(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
@media screen and (max-width : 1366px){
    .nav div {
        margin-right: 60px;
    }
    .center .new .script .time {
        font-size: 12px;
    }
    .center .new .script .bigtitle {
        font-size: 30px;
        line-height: 38px;
    }
    .center .new .script .title {
        margin-top: 24px;
        font-size: 14px;
        line-height: 24px;
    }
    .center .list .list_box .time{
        font-size: 12px;
    }
    .center .list .list_box .title {
        font-size: 18px;
        line-height: 24px;
    }
    .none {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
    }
    .search .list .one {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .search .list {
        font-size: 14px;
        line-height: 26px;
    }
}
@media screen and (max-width : 1600px){
    .search .list .one {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .search .list {
        font-size: 14px;
        line-height: 26px;
    }
}