
.wrapper {
    position: relative;
}

#head {
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 66;
}
#foot {
    width: 100%;
    height: 100px;
}
.imgList {
    width: 100%;
    z-index: 10;
    /* overflow: hidden; */
}
.imgList img{
    width: 100%;
    height: auto;
}

.bg {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 40px;
    z-index: 20;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background: black;
}

.infoList {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 30;
}

.infoList li {
    display: none;
}

.infoList .infoOn {
    display: inline;
    color: white;
}

.indexList {
    position: absolute;
    right: 5%;
    bottom: 20%;
    z-index: 30;
}

.indexList li {
    float: left;
    margin-right: 60px;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.6);
}
.indexList li:last-child{
    margin-right: 0px;
}

.indexList .indexOn {
    color: white;
}
.center {
    width: 100%;
    /* height: 500px; */
    background-color: transparent;
}
.center img {
    width: 100%;
    height: auto;
}
.center_nav {
    display: none;
    position: fixed;
    left: 3%;
    top: 100px;
    z-index: 66;
}
.center_nav a{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #009d81;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}
.center_nav a:hover{
    background-color: #de7a36;
}
.center_nav a:hover span{
    display: block;
}
.center_nav .check{
    background-color: #de7a36;
}
.center_nav .check span{
    display: block;
}
.center_nav a span{
    display: none;
    white-space: nowrap;
    background-color: #de7a36;
    color: #fff;
    padding: 10px 28px;
    border-radius: 28px;
    position: absolute;
    left: 300%;
    top: 50%;
    transform: translateY(-50%);
}
.center_nav a em{
    width: 20px;
    height: 20px;
    position: absolute;    
    left: -12px;
    top: 50%;
    background-color: #de7a36;
    transform: rotate(45deg) translateY(-70%);
}
.center_title {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translateX(-50%);
    z-index: 31;
    text-align: center;
    color: #fff;
}
.center_title p {
    font-size: 17px;
    line-height: 30px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center_title img {
    margin-bottom: 36px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center_title p:first-child {
    font-size: 56px;
    margin-bottom: 46px;
}
.center_title .btn{
    margin-top: 90px;
    margin-left: 30px;
    width: 206px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #d6d6d6;
    color: #333;
    border-radius: 60px;
    display: inline-block;
    cursor: pointer;
}
.center_title .check{
    background-color: #de7a36;
    color: #fff;
}
.center_title .btn:first-child{
    margin-left: 0px;
}
.center .list {
    width: 80%;
    margin: 5% auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.center .list .list_box{
    /* width: 440px; */
    width: 30%;
    height: 420px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
}
.center .list .list_box img{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s linear;
}
.center .list .list_box .time{
    font-size: 16px;
    color: #e7a27b;
    margin-bottom: 30px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center .list .list_box .title {
    font-size: 22px;
    line-height: 28px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center .list .big_list_box {
    width: 65%;
    height: 420px;
}
.center .list .big_list_box img{
    height: 99%;
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s linear;
    margin-bottom: 0px;
}
.center .list .big_list_box .time{
    position: absolute;
    left: 5%;
    bottom: 14%;
    color: #fff;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.center .list .big_list_box .title{
    position: absolute;
    left: 5%;
    bottom: 8%;
    color: #fff;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
.more {
    width: 190px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #009e8b;
    color: #fff;
    font-size: 18px;
    border-radius: 60px;
    margin: 0 auto;
    cursor: pointer;
}
.qie {
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .time{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .bigtitle{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .title{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie img{
    transform: translateX(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
@media screen and (max-width : 1366px){
    .nav div {
        margin-right: 60px;
    }
    .center .new .script .time {
        font-size: 12px;
    }
    .center .new .script .bigtitle {
        font-size: 30px;
        line-height: 38px;
    }
    .center .new .script .title {
        margin-top: 24px;
        font-size: 14px;
        line-height: 24px;
    }
    .center .list .list_box .time{
        font-size: 12px;
    }
    .center .list .list_box .title {
        font-size: 18px;
        line-height: 24px;
    }
    .none {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
    }
    .search .list .one {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .search .list {
        font-size: 14px;
        line-height: 26px;
    }
}
@media screen and (max-width : 1600px){
    .search .list .one {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .search .list {
        font-size: 14px;
        line-height: 26px;
    }
}