/* body {
    width: 100%;
    height: 100%;
    overflow: hidden;
} */
.wrapper {
    width: 100%;
    height: 11rem;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.weixinbox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.weixinbox img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
}

#head {
    width: 100%;
    height: 1.14rem;
    position: relative;
    z-index: 66;
}
#foot {
    width: 100%;
    height: 4.8rem;
    position: absolute;
    left: 0%;
    bottom: 0%;
}
.imgList {
    width: 100%;
    height: 11rem;
    z-index: 10;
    background-color: #009d81;
    /* overflow: hidden; */
}
.imgList img{
    width: 100%;
    height: auto;
}

.infoList {
    position: absolute;
    left: 0.1rem;
    bottom: 0.1rem;
    z-index: 30;
}

.infoList li {
    display: none;
}

.infoList .infoOn {
    display: inline;
    color: white;
}

.indexList {
    position: absolute;
    right: 5%;
    bottom: 20%;
    z-index: 30;
}

.indexList li {
    float: left;
    margin-right: 0.6rem;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.6);
}
.indexList li:last-child{
    margin-right: 0px;
}

.indexList .indexOn {
    color: white;
}
.center {
    width: 100%;
    /* height: 500px; */
    padding-bottom: 3.52rem;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 99;
    transition: top 0.06s linear;
    overflow: hidden;
}
.center img {
    width: 100%;
    height: auto;
    display: block;  
}
.all_center_title {
    position: relative;
    margin-top: -0.11rem;
}
.all_center_title:first-child{
    margin-top: 0px;
}
.all_center_title .center_title{
    top: 10%;
    color: #333;
}
.all_center_title .center_title p:first-child{
    font-size: 0.66rem;
}
.all_center_title .center_title p{
    top: 10%;
    margin: 0px auto;
    width: 100%; 
    font-size: 0.28rem;
}
.all_center_title .center_title p:last-child {
    font-size: 0.28rem
}
.all_center_title .center_title .fsz24{
    font-size: 0.46rem;
    margin-bottom: .46rem;
}
.all_center_title .center_title .btn{
    width: 3.02rem;
    height: 0.97rem;
    line-height: 0.97rem;
    margin-top: 10%;
    font-size: 0.32rem;
}
.all_center_title .center_title .btn:first-child{
    margin-left: 0px;
}
.all_center_title .center_title img{
    width: 0.58rem;
}
#one {
    width: 100%;
    height: 12.78rem;
}
#one .center_title{
    top: 1.18rem;
}
#one .one_title {
    position: absolute;
    left: 70%;
    top: 43.5%;
    font-size: 0.32rem;
    cursor: pointer;
}
#one .check p{
    display: block !important;
}
#one .check p{

}
#one .one_all_title p{
    white-space: nowrap;
    position: absolute;
    top: -0.8rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #009d81;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.16rem 0.24rem;
    border-radius: 0.1rem;
    display: none;
}
#one .one_all_title p em {
    display: inline-block;
    width: 0.15rem;
    height: 0.15rem;
    background-color: #009d81;
    border: 1px solid #fff;
    position: absolute;
    right: 50%;
    transform: rotate(45deg);
    bottom: -0.08rem;
    border-color:  #009d81 #fff  #fff #009d81;
}
#one .one_all_title .quan{
    margin-left: 0.2rem;
    display: inline-block;
    width: 0.22rem;
    height: 0.22rem;
    border: 1px solid #de7a36;
    border-radius: 50%;
    position: relative;
}
#one .one_all_title span {
    color: #de7a36
}
#one .check span {
    color: #009d81;
}
#one .one_all_title span em{
    display: inline-block;
    width: 0.06rem;
    height: 0.06rem;
    background-color: #de7a36;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#one .check .quan {
    border-color: #009d81;
}
#one .check span em{
    background-color: #009d81;
}
#one .one_title p {
    left: 0%;
    transform: translateX(-80%);
}
#one .one_title p em{
    right: 10%;
}
#one .two_title {
    position: absolute;
    left: 49%;
    top: 58.5%;
    font-size: 0.32rem;
    cursor: pointer;
}
#one .three_title {
    position: absolute;
    left: 33%;
    top: 66.5%;
    font-size: 0.32rem;
    cursor: pointer;
}
#one .four_title {
    position: absolute;
    left: 18%;
    top: 74.5%;
    font-size: 0.32rem;
    cursor: pointer;
    z-index: 1;
}
#one .four_title p {
    left: 0%;
    transform: translateX(0%);
}
#one .four_title p em{
    right: 90%;
}
#one .five_title {
    position: absolute;
    left: 45%;
    top: 72.5%;
    font-size: 0.32rem;
    cursor: pointer;
}
#one .six_title {
    position: absolute;
    left: 58%;
    top: 72.5%;
    font-size: 0.32rem;
    cursor: pointer;
}
#one .six_title span {
    margin-bottom: 0.2rem;
}
#one .six_title .quan {
    margin-left: 0.1rem;
    margin-top: 0rem;
}
#one .senve_title {
    position: absolute;
    left: 51%;
    top: 85%;
    font-size: 0.32rem;
    cursor: pointer;
}
#two {
    width: 100%;
    height: 13.98rem;
}
#two .center_title{
    top: 1.4rem;
    color: #fff;
    width: 90%;
}
#two .center_title img {
    margin-bottom: 1rem;
}
#three {
    width: 100%;
    height: 17.16rem;
}
#three img{
    width: 100%;
    height: 100%;
}
#three .center_title{
    top: 1.16rem;
    color: #fff;
}
#three .center_title img {
    width: 0.58rem;
    height: auto;
}
#four {
    width: 80%;
    background-color: #ffffff;
    padding-top: 4.19rem;
    padding-bottom: 1.45rem;
    margin: 0 auto;
}
#four .center_title{
    top: 1.29rem;
}
#four .center_title img{
    margin-bottom: 0.76rem;
}
#four .center_title p:last-child{
    font-size: 0.42rem;
    color: #009d81;
}
#four .four_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#four .left {
    width: 100%;
}
#four .right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.55rem;
}
#four .right .right_text{
    width: 100%;
    font-size: 0.3rem;
    line-height: 0.42rem;
    color: #009d81;
}
#four .right .right_text p {
    /* white-space: nowrap; */
    display: none;
}
#four .right .right_text .p_text {
    /* white-space: nowrap; */
    display: block;
}
#four .right ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
}
#four .right ul li{
    display: flex;
    align-items: center;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
    cursor: pointer;
}
#four .right ul li div{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    /* margin: 0 auto; */
    background-color: #de7a36;
    color: #fff;
}
#four .right ul li:first-child{
    margin-top: 0px;
}
#four .right ul .number{
}
#four .right ul .number div{
    width: 0.94rem;
    height: 0.94rem;
    line-height: 0.96rem;
    text-align: center;
    font-size: 0.38rem;
    background-color: #fff;
    color: #de7a36;
    border: 0.02rem solid #de7a36;
    font-weight: 600;
    margin-left: 0px;
    display: block;
    margin-top: 0px;
}
#four .right ul li p {
    flex: 1;
    font-size: 0.18rem;
    margin-left: 10%;
    margin-left: 0.2rem;
    line-height: 0.32rem;
}
#four .right ul .lv div{
    color: #009d81;
    border-color: #009d81;
}
#four .right ul .lv p{
    color: #009d81;
}
#five {
    width: 100%;
    /* padding-top: 22%; */
    background-color: #f3f3f3;
    /* padding-bottom: 10%; */
}
#five .center_title {
    top: 0.93rem;
}
#five .center_title p:first-child{
    font-size: 0.66rem;
    /* color: #009d81; */
}
#five .center_title p span{
    font-size: 0.26rem;
    color: #de7a36;
}
#five .img {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#five .img img {
    width: 30%;
    height: auto;
}
#five .text_title {
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
}
#five .text_title p {
    color: #fff;
    font-size: 0.28rem;
    line-height: 0.38rem;
    text-align: left;
}
#five .text_title p:nth-child(1){
    font-size: 0.44rem;
    line-height: 0.54rem;
    margin-bottom: 0.1rem;
}
#five .one_title {
    width: 50%;
    position: absolute;
    left: 12%;
    top: 41%;
}
#five .two_title {
    width: 50%;
    position: absolute;
    left: 12%;
    top: 64%;
}
#five .three_title {
    width: 50%;
    position: absolute;
    left: 12%;
    top: 86%;
}
#three .three_box {
    width: 6.15rem;
    position: absolute;
    left: 50%;
    top: 3.25rem;
    transform: translateX(-50%);
}
#three .text_title {
    width: 100%;
    background-color: #fff;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-right: 0.6rem;
    padding-bottom: 0.6rem;
}
#three .text_title p {
    font-size: 0.22rem;
    line-height: 0.38rem;
    text-align: left;
}
#three .text_title div{
    flex: 1;    
}
#three .text_title .three_box_text p:nth-child(1){
    color: #009d81;
    font-size: 0.36rem;
    line-height: 0.44rem;
    margin-bottom: 0.3rem;
    margin-top: 0.66rem;
}
#three .number{
    color: #fff;
    background-color: #de7a36;
    font-size: 0.42rem !important;
    border-radius: 50%;
    width: 1.02rem;
    height: 1.02rem;
    line-height: 1.02rem !important;
    text-align: center !important;
    font-weight: 500;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
}
#six .center_title{
    top: 1.19rem;
    color: #fff;
}
#six .center_title p:first-child{
    width: 100%;
}
#six .one_title {
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 51%;
    transform: translateX(-50%) !important;
}
#six .two_title {
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 34%;
    transform: translateX(-50%) !important;
}
#six .three_title {
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%) !important;
}
#six .four_title {
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%) !important;
}
#six .text_title {
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s linear;
    cursor: pointer;
}
#six .text_title p {
    font-size: 0.44rem;
    line-height: 0.48rem;
    text-align: center;
    color: #fff;
    margin-bottom: 0.3rem;
}
#six .text_title p:nth-child(1){
    width: 0.62rem;
    height: 0.62rem;
    line-height: 0.62rem;
    text-align: center;
    border-radius: 50%;
    background-color: #de7a36;
    margin: 0 auto;
    margin-bottom: 0.3rem;
}
#six .text_title .btn {
    width: 1.8rem;
    height: 0rem;
    font-size: 0.2rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #de7a36;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    transition: height 0.1s linear;
}
/* #six .text_title:hover .btn {
    height: 0.5rem;
    line-height: 0.5rem;
} */
.center_nav {
    display: none;
    position: fixed;
    left: 3%;
    top: 1.29rem;
    z-index: 666;
}
.center_nav a{
    display: block;
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 50%;
    background-color: #009d81;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}
.center_nav a:hover{
    background-color: #de7a36;
}
.center_nav a:hover span{
    display: block;
}
.center_nav .check{
    background-color: #de7a36;
}
.center_nav .check span{
    display: block;
}
.center_nav a span{
    display: none;
    white-space: nowrap;
    background-color: #de7a36;
    color: #fff;
    font-size: 0.18rem;
    padding: 0.1rem 0.28rem;
    border-radius: 0.28rem;
    position: absolute;
    left: 300%;
    top: 50%;
    transform: translateY(-50%);
}
.center_nav a em{
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;    
    left: -0.12rem;
    top: 50%;
    background-color: #de7a36;
    transform: rotate(45deg) translateY(-70%);
}
.center_title {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    z-index: 31;
    text-align: center;
    color: #fff;
    transition: all 0.6s linear;
}
.fsz56 {
    font-size: 0.86rem !important;
    line-height: 0.9rem !important;
    margin-bottom: 0.46rem !important;
    margin-top: -6% !important;
}
.center_title p {
    font-size: 0.3rem;
    line-height: 0.42rem;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 1s linear;
}
.center_title img {
    width: 0.58rem;
    margin: 0 auto;
    margin-bottom: 0.46rem;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 1s linear;
}
.center_title img:first-child {
    width: 7.24rem;
}
.center_title p:first-child {
    font-size: 0.70rem;
    line-height: 0.74rem;
    margin-bottom: 0.46rem;
}
.center_title p:last-child {
    font-size: 0.3rem;
}
.center_title .btn{
    margin-top: 0.9rem;
    margin-left: 0.3rem;
    width: 2.06rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    background-color: #d6d6d6;
    color: #333;
    border-radius: 0.6rem;
    display: inline-block;
    cursor: pointer;
}
.center_title .check{
    background-color: #de7a36;
    color: #fff;
}
.center_title .btn:first-child{
    margin-left: 0px;
}
.business_box {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    left: 0%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.business_box .text_box {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 0.6rem;
}
.business_box .text_box .box{
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
    padding: 0.2rem;
}
.business_box .text_box .box::-webkit-scrollbar{/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.business_box .text_box .box::-webkit-scrollbar-thumb{/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px #de7a36;
    background: #de7a36;
}
.business_box .text_box .box::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px #e5e5e5;
    border-radius: 10px;
    background: #EDEDED;
}
.business_box .text_box .none {
    position: absolute;
    right: 0.5rem;
    top: 0.2rem;
    font-size: 0.32rem;
    color: #e9e9e9;
    cursor: pointer;
}
.business_box .text_box .box p {
    font-size: 0.24rem;
    margin-bottom:0.2rem;
    line-height: 0.32rem;
}
.business_box .text_box .box .h1 {
    font-size: 0.40rem;
    color: #009d81;
    margin-bottom:0.rem;
}
.business_box .text_box .box .h2 {
    font-size: 0.26rem;
    color: #de7a36;
    margin-bottom:0.3rem;
}
.business_box .text_box .box .h2 span{
    font-size: 0.22rem;
    color: #de7a36;
    padding: 0.03rem 0.1rem;
    border-radius: 50%;
    border: 1px solid #de7a36;
    margin-right: 0.1rem;
}
.business_box .text_box .box .h3 {
    font-size: 0.2rem;
}
.business_box .text_box .box .hui {
    color: #999;
    margin-bottom:30px;
}
.qie {
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .time{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .bigtitle{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie .title{
    transform: translateY(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}
.qie img{
    transform: translateX(0px) !important;
    /* margin-top: 0px; */
    opacity: 1 !important;
}